<a href="https://colab.research.google.com/github/hiroshi-K-I/data-sci/blob/master/20191105AI%E7%A0%94%E4%BF%AE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AI概要

## AIの歴史と定義

- 人工知能の明確な定義はない。だからAIの議論をする際は、まず定義を共有する必要がある。
- 強いAI、弱いAI
- 第三次AIブームのきっかけ：ビックデータ、GPU、ディープラーニング
- 現在のAI（と呼ばれているもの）の３分類：探索アルゴリズム、エキスパートシステム、機械学習
- DNN（ディープニューラルネットワーク）:中間層が複数あるNN
- 代表的なDNNの種類
  - CNN:画像認識によく使用される
  - RNN:音声認識や自然言語処理など、順序が意味を持つデータを処理する

# Pythonの基礎

In [0]:
print("Hello, World!")

Hello, World!

# データ型

In [0]:
old = 33
foot_size = 27.5
birth_place = "japan"
is_male = True
favorite_fruits = ["apple", "peal"]
name = ("Kou", "Iwasaki")

print(type(old), old)
print(type(foot_size), foot_size)
print(type(birth_place), birth_place)
print(type(is_male), is_male)
print(type(favorite_fruits), favorite_fruits)
print(type(name), name)

<class 'int'> 33
<class 'float'> 27.5
<class 'str'> japan
<class 'bool'> True
<class 'list'> ['apple', 'peal']
<class 'tuple'> ('Kou', 'Iwasaki')

In [0]:
a = 8
b = 3
x = 2.0

print(a + b, a + x, a - b, b * x, a / x, a / b, a // b, a % b, b ** a)

11 10.0 5 6.0 4.0 2.6666666666666665 2 2 6561

In [0]:
y = [[1, 2, 3], [4, 5, 6]]
print(y[1][2])

6

In [0]:
a = [23,470,78,0,-12]
b = ["月","火","水","木","金","土","日"]
c = [[1,2,3],[4,5,6],[7,8,9]]

print("1.",a[0])
print("2.",b[4])
print("3.",c[1],c[2][2])

1. 23
2. 金
3. [4, 5, 6] 9

In [0]:
r1 = range(0,16)
l1 = list(r1)
r2 = range(100,121)
l2 = list(r2)
r3 = range(10,55,5)
l3 = list(r3)

print(len(l1),l1)
print(len(l2),l2)
print(len(l3),l3)

16 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
21 [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120]
9 [10, 15, 20, 25, 30, 35, 40, 45, 50]

In [0]:
a = (23,470,78,0,-12)
b = ("月","火","水","木","金","土","日")
c = ((1,2,3),(4,5,6),(7,8,9))

print("1.",a[0])
print("2.",b[4])
print("3.",c[1],c[2][2])

1. 23
2. 金
3. (4, 5, 6) 9

In [4]:
x = range(1,21,1)
l1 = list(x)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [10]:
print(l1[0:21])
print(l1[4:17])
print(l1[0:21:3])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[1, 4, 7, 10, 13, 16, 19]

In [14]:
your_info = {
    "name":"koh",
    "age":33,
    "birthplace":"miyagi"
}
print("名前：",your_info["name"])
print(your_info["age"])
print(your_info["birthplace"])

名前： koh
33
miyagi

In [16]:
x = 3

if x % 3 == 0:
  print("３の倍数です")
else:
  print("3の倍数ではありません")

３の倍数です

In [20]:
year = 2020

if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
  print("閏年")
else:
  print("Not閏年")

閏年

In [19]:
holiday = ["sun","wed","fri"]
day = ["mon"]

if day in holiday:
  print("it's holiday")
else:
  print("Not holiday")

Not holiday

In [21]:
week = ["mon","tue","wed","thu","fri","sat","sun"]

for i in week:
  print(i)

mon
tue
wed
thu
fri
sat
sun

In [22]:
name = ["a","b","c"]

for i,n in enumerate(name):
  print(i,n)

0 a
1 b
2 c

In [23]:
years = range(1000,2000)
l_years = list(years)

for i in l_years:
  if i % 4 == 0 and i % 100 != 0 or i % 400 == 0:
    print(i)

1004
1008
1012
1016
1020
1024
1028
1032
1036
1040
1044
1048
1052
1056
1060
1064
1068
1072
1076
1080
1084
1088
1092
1096
1104
1108
1112
1116
1120
1124
1128
1132
1136
1140
1144
1148
1152
1156
1160
1164
1168
1172
1176
1180
1184
1188
1192
1196
1200
1204
1208
1212
1216
1220
1224
1228
1232
1236
1240
1244
1248
1252
1256
1260
1264
1268
1272
1276
1280
1284
1288
1292
1296
1304
1308
1312
1316
1320
1324
1328
1332
1336
1340
1344
1348
1352
1356
1360
1364
1368
1372
1376
1380
1384
1388
1392
1396
1404
1408
1412
1416
1420
1424
1428
1432
1436
1440
1444
1448
1452
1456
1460
1464
1468
1472
1476
1480
1484
1488
1492
1496
1504
1508
1512
1516
1520
1524
1528
1532
1536
1540
1544
1548
1552
1556
1560
1564
1568
1572
1576
1580
1584
1588
1592
1596
1600
1604
1608
1612
1616
1620
1624
1628
1632
1636
1640
1644
1648
1652
1656
1660
1664
1668
1672
1676
1680
1684
1688
1692
1696
1704
1708
1712
1716
1720
1724
1728
1732
1736
1740
1744
1748
1752
1756
1760
1764
1768
1772
1776
1780
1784
1788
1792
1796
1804
1808
1812
1816
1820
1824
1828
1832
1836
1840
1844
1848
1852
1856
1860
1864
1868
1872
1876
1880
1884
1888
1892
1896
1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996

In [24]:
def keisan(a,b):
  print(a+b,a-b,a*b,a/b)

keisan(1,2)

3 -1 2 0.5