<a href="https://colab.research.google.com/github/hiroshi-K-I/data-sci/blob/master/20191105AI%E7%A0%94%E4%BF%AE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AI概要

## AIの歴史と定義

- 人工知能の明確な定義はない。だからAIの議論をする際は、まず定義を共有する必要がある。
- 強いAI、弱いAI
- 第三次AIブームのきっかけ：ビックデータ、GPU、ディープラーニング
- 現在のAI（と呼ばれているもの）の３分類：探索アルゴリズム、エキスパートシステム、機械学習
- DNN（ディープニューラルネットワーク）:中間層が複数あるNN
- 代表的なDNNの種類
  - CNN:画像認識によく使用される
  - RNN:音声認識や自然言語処理など、順序が意味を持つデータを処理する

# Pythonの基礎

In [2]:
print("Hello, World!")

Hello, World!

# データ型

In [7]:
old = 33
foot_size = 27.5
birth_place = "japan"
is_male = True
favorite_fruits = ["apple", "peal"]
name = ("Kou", "Iwasaki")

print(type(old), old)
print(type(foot_size), foot_size)
print(type(birth_place), birth_place)
print(type(is_male), is_male)
print(type(favorite_fruits), favorite_fruits)
print(type(name), name)

<class 'int'> 33
<class 'float'> 27.5
<class 'str'> japan
<class 'bool'> True
<class 'list'> ['apple', 'peal']
<class 'tuple'> ('Kou', 'Iwasaki')

In [10]:
a = 8
b = 3
x = 2.0

print(a + b, a + x, a - b, b * x, a / x, a / b, a // b, a % b, b ** a)

11 10.0 5 6.0 4.0 2.6666666666666665 2 2 6561

In [15]:
y = [[1, 2, 3], [4, 5, 6]]
print(y[1][2])

6

In [18]:
a = [23,470,78,0,-12]
b = ["月","火","水","木","金","土","日"]
c = [[1,2,3],[4,5,6],[7,8,9]]

print("1.",a[0])
print("2.",b[4])
print("3.",c[1],c[2][2])

1. 23
2. 金
3. [4, 5, 6] 9

In [22]:
r1 = range(0,16)
l1 = list(r1)
r2 = range(100,121)
l2 = list(r2)
r3 = range(10,55,5)
l3 = list(r3)

print(len(l1),l1)
print(len(l2),l2)
print(len(l3),l3)

16 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
21 [100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120]
9 [10, 15, 20, 25, 30, 35, 40, 45, 50]